@font-face {
    font-family: FloridaProjectOne;
    src: url(../fonts/FloridaProjectPhaseOne.ttf);
}

@font-face {
    font-family: MouseMemoirs;
    src: url(../fonts/MouseMemoirs-Regular.ttf);
}

body {
    background-image: url("../images/wdw_03.jpg");
    background-color: #000131;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    color: rgb(211, 211, 211);
    text-shadow: 2px 2px 10px #111111;
    text-align: center;
}

#header{
    margin-top: 30px;
}

#headerLogo{
    width: 400px;
    filter: drop-shadow(3px 3px 2px #00000094);
}

.searchMe{
    /* background-color: #dae0e5; */
    /* border-color: #d3d9df; */
    background-color: #ecbd4890;
    border-color: #5f3b1d;
    color:  #5f3b1d;
}

.searchMe:hover{
    background-color: #ecbd48;
    border-color: #9b4804;
}

@media screen and (max-width: 768px) {
    body {
        background-size: auto 100%;
        /* background-position-x: -310px; */
    }


}

@media screen and (max-width: 400px) {
    body {
        background-size: auto 100%;
        background-position-x: -310px;
    }

}



